.pub,
.formulario{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.formulario textarea{
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario button{
    background-color: rgb(223, 142, 237);
    border: 0;
    border-radius: 5px;
    padding: 8px;

}

.formulario input {
    display: block;
    width: 100%;
}

.mensagem {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background: #31976b;
    color: #fff;
}

.fecharMensagem {
    float: right;
    cursor: pointer;
}

.editar,
.excluir {
    background: #a7a7a7;
    border-radius: 5px;
    border: 0;
    padding: 5px;

}

.excluir {
    margin-left: 5px;
    background: rgb(229, 82, 82);
}